#search_area{
    float: left
    
}

#jumbotron_head{
    background-color: beige;
    text-align: center;
}

#result_area{
border: 10px solid black;
height: 300px

}

#five_days{
float:right
}

#heightOfnav{
    height:100%
}
.col-2{
 padding:0 !important
}